<!DOCTYPE html>
<html>
    <head>
        <title>YELPCAM</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="nav navbar navbar-default bg-dark">    
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="nav-brand" href="/">YELPCAM</a>
                </div>
                <div class="navbar navbar-expand-sm navbar-right">
                    <% if(!currUser) { %>
                        <li class="nav-item"><a class="nav-link" href="/register">SignUp</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">LogIn</a></li>
                      <% } else { %>
                        <li class="nav-item"><a class="nav-link" href="/logout">LogOut</a></li>
                      <% } %>
                    </ul>
                </div>
            </div>    
        </nav>
        <div class="container">
            <h1 style="text-align: center;">Add a new component to <%= campground.name %></h1>
            <div style="width: 40%; margin: 25px auto;"> 
                <form  action="/campground/<%= campground._id%>/comments"method="POST">
                    <div class="form-group" >
                        <input class="form-control" type="comment[text]" name="comment[author]" placeholder="name" >
                    </div>
                    <div class="form-group" >
                        <input class="form-control" type="text" name="comment[text]" placeholder="text" >
                    </div>
                    <div class="form-group" >
                        <button class="btn btn-lg btn-default bg-primary btn-block">submit</button><br>
                    </div>
                </form>
                <a href="/campground">go back to list of campground</a>
            </div>
        </div>
    </body>
</html>