<!DOCTYPE html>
<html>
    <head>
        <title>YELPCAM</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="nav navbar navbar-default bg-dark">    
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="nav-brand" href="/">YELPCAM</a>
                </div>
                <div class="navbar navbar-expand-sm navbar-right">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">SignUp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">LogIn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">LogOut</a>
                        </li>
                    </ul>
                </div>
            </div>    
        </nav>        
        <div class="container">
            <header class="jumbotron">
                <div class="container">
                    <h1>This is campground page </h1>
                    <p>View are best campgrounds</p>
                    <p>
                        <a class="btn btn-primary btn-lg" role="button" href="/campground/new">add new campground</a>
                    </p>
                </div>
            </header>
            <div class="row" style="display: flex; flex-wrap: wrap;">
                <% campground.forEach(function(cp){ %>
                    <div class="col-md-3 col-sm-6">
                        <div class="img-thumbnail">
                            <img src = "<%= cp.image %>" height="150px" width="245px" >
                            <div class="caption">
                                <center>
                                    <h4><%= cp.name %></h4>
                                </center>
                            </div>
                            <p>
                                <center>
                                    <a href="/campground/<%= cp._id %>" class="btn btn-primary">More info</a>
                                </center>
                            </p>
                        </div>       
                    </div>
                <% }) %>
            </div>    
        </div>
    </body>
</html>