<!DOCTYPE html>
<html>
    <head>
        <title>YELPCAMP</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/land.css">
    </head>
    <body> 
       <!-- <nav class="nav navbar navbar-default bg-dark">    
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="nav-brand" href="/">YELPCAM</a>
                </div>
                <div class="navbar navbar-expand-sm navbar-right">
                    <% if(!currUser) { %>
                        <li class="nav-item"><a class="nav-link" href="/register">SignUp</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">LogIn</a></li>
                      <% } else { %>
                        <li class="nav-item"><a class="nav-link" href="#">Signed In as <%= currUser.username %></a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">LogOut</a></li>
                      <% } %>
                    </ul>
                </div>
            </div>    
        </nav>  -->           
        <div class="container">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>
        <div id="landing-header">
 		    <h1>Welcome to YelpCamp!</h1>
		    <a href="/campground" class="btn btn-lg btn-success">View All Campgrounds</a>
        </div>   
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </body>
</html>